:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* -------------логотип в шапке----------------- */
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.logo-part {
  color: var(--title-text-color);
}

/* ---------------- Навигация --------------------- */

header {
  border-bottom: 1px solid #ececec;
}

header .nav,
header .nav-box {
  display: flex;
  align-items: center;
}

.menu,
.contacts {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  align-items: baseline;
}

.menu.list {
  margin-left: 93px;
}

.menu .item:not(:last-child) {
  margin-right: 50px;
}

.menu .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
}

.menu .link:hover,
.menu .link:focus {
  color: var(--accent-color);
}

.menu .link.current {
  color: var(--accent-color);
}

.contacts .item + .item {
  margin-left: 30px;
}

.contacts.list {
  margin-left: auto;
}

.contacts .link {
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

header .icon {
  vertical-align: bottom;
  fill: currentColor;
  margin-right: 10px;
}

header .link:hover .icon,
header .link:focus .icon {
  fill: var(--accent-color);
}

/* ---------------- кнопки --------------------------*/

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;

  letter-spacing: inherit;
  text-align: center;

  border-radius: 4px;
  border: none;

  cursor: pointer;
}

.service.button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  min-width: 200px;
}

.service.button:hover,
.service.button:focus {
  background-color: #188ce8;
}

/* ----------------- кнопки фильтров для портфолио ------------------ */

.filter-box {
  text-align: center;
  font-size: 0;
  margin-bottom: 50px;
}

.filter.button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  font-weight: 500;
  line-height: 1.62;

  padding: 6px 22px;
}

.filter.button:not(:first-child) {
  margin-left: 8px;
}

.button:hover,
.button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* ----------- стили для главной страницы -----------------*/

/* ------------------- hero ---------------------- */
.hero {
  text-align: center;
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
}

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;

  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: 0 auto 30px;
}

/* -------------------- секции --------------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 1px solid tomato; */
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

/* -------------------------- секция особенности и чем мы занимаемся --------------------- */

.features-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  line-height: 1.71;
}

.features .features-list {
  display: flex;
  margin-bottom: 94px;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item:nth-child(n + 2) {
  margin-left: 30px;
}

.features-icons {
  display: flex;
  justify-content: center;

  background-color: var(--secondary-background-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
}

.img-icons {
  align-self: center;
}

.work-list {
  display: flex;
}

.work-list .item {
  width: calc((100% - 60px) / 3);
}

.work-list .item:nth-child(n + 2) {
  margin-left: 30px;
}

/* ---------------------------- Команда ---------------------------- */

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-list .item {
  background-color: var(--main-background-color);
  text-align: center;

  width: calc((100% - 90px) / 4);
}

.team-list .item:nth-child(n + 2) {
  margin-left: 30px;
}

.team-list .card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .card {
  box-shadow: var(--box-shadow);
  border-radius: 0 0 4px 4px;
}

.team .names,
.team .profession {
  font-size: 16px;
  line-height: 1.19;
}

.team .profession {
  margin-bottom: 16px;
}

.names {
  color: var(--title-text-color);
  font-weight: 500;

  margin-bottom: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  fill: #afb1b8;
  background-color: var(--main-background-color);
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus,
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
  background-color: var(--accent-color);
}

/* ---------------- Постоянные клиенты ---------------- */

.clients-list {
  display: flex;
}

.clients-list .item {
  margin-left: 30px;
}

.clients-list .item:first-child {
  margin-left: 0px;
}

.clients-list .link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  width: 170px;
  height: 92px;
}

.clients-list .link:hover,
.clients-list .link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
  outline: none;
}

.clients-list .link .clients-logo {
  fill: #afb1b8;
}

.clients-list .link:hover .clients-logo,
.clients-list .link:focus .clients-logo {
  fill: var(--accent-color);
}

/* -------------    стили для портфолио    ------------ */

.project .names {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.project.list {
  display: flex;
  flex-wrap: wrap;
}

.project.list > .item {
  flex-basis: calc((100% - 60px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.project.list > .item:nth-child(3n + 1) {
  margin-left: 0px;
}

.project.list > .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-content {
  padding: 20px 24px;

  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-card .link {
  display: block;
}

.project-card .link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* --------------------------- footer ------------------- */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .logo-part {
  color: #ffffff;
}

.footer-contacts {
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}

.footer-contacts .link {
  color: var(--primary-text-color);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer-contacts .link.mail {
  display: inline-block;
  margin: 9px 0;
}

.social-address .title {
  color: #ffffff;
  font-size: inherit;
  text-transform: uppercase;

  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 20px;
}

footer .address-wrapper {
  display: flex;
  align-items: baseline;
}

.social-address-list {
  display: flex;
}

.social-address {
  margin-left: 70px;
}

.social-address-icon {
  fill: #ffffff;
}

.social-address-item {
  width: 44px;
  height: 44px;
}

.social-address-item:not(:first-child) {
  margin-left: 10px;
}

.social-address-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-address-link:hover,
.social-address-link:focus,
.social-address-link:hover .social-address-icon,
.social-address-link:focus .social-address-icon {
  background-color: var(--accent-color);
}
